body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  padding: 20px 0;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.filter-container {
  margin-bottom: 20px;
  text-align: center;
}

.select-style {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  cursor: pointer;
  margin-right: 10px;
}

.productGrid {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.productItem img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.card-body h2 {
  margin-bottom: 10px;
}

.card-body p {
  margin-bottom: 5px;
}

.delete-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.productItem {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-body {
  flex-grow: 1;
  padding: 20px;
}

.card-body h2 {
  margin-bottom: 10px;
}

.card-body p {
  margin-bottom: 5px;
}

.delete-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.delete-btn {
  background-color: #3ff738;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: #ff6666;
}

@media screen and (max-width: 768px) {
  .select-style {
    margin-bottom: 10px;
    display: block;
    width: calc(100% - 20px);
    margin: 0 auto 10px;
  }
}
